@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    src: url('https://fonts.gstatic.com/s/rubik/v21/iJWKBXyIfDnIV7nBrX2w023e.woff2') format('woff2');
}
  
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.gstatic.com/s/rubik/v21/iJWKBXyIfDnIV7nBrXYw023e.woff2') format('woff2');
}
  
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('https://fonts.gstatic.com/s/rubik/v21/iJWKBXyIfDnIV7nBrXew023e.woff2') format('woff2');
}
  
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    src: url('https://fonts.gstatic.com/s/rubik/v21/iJWKBXyIfDnIV7nBrXOw023e.woff2') format('woff2');
}
  
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('https://fonts.gstatic.com/s/rubik/v21/iJWKBXyIfDnIV7nBrXYw023e.woff2') format('woff2');
}
  
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 800;
    src: url('https://fonts.gstatic.com/s/rubik/v21/iJWKBXyIfDnIV7nBrYmw023e.woff2') format('woff2');
}
  
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    src: url('https://fonts.gstatic.com/s/rubik/v21/iJWKBXyIfDnIV7nBrYyw023e.woff2') format('woff2');
}
  
body{
    background: url(https://rubeusarquivos.apprbs.com.br/file/celsolisboa/CanalPersonalizado/399/mLr-2024-03-13-16-09-36.png);
    font-family: 'Rubik', 'sans-serif';
}
#titulo, #mediaTitulo{
    text-align: center;
    color: rgb(39, 202, 252);
    text-shadow:
    -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
.container-form{
    display: flex;
    width: 500px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.877);
}
#mat1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mat-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
#materia{
    width: 350px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
}
#nota-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}
.campNota{
    margin: 10px 10px;
    width: 200px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
}
.btn{
    margin-top: 20px;
    height: 40px;
    font-weight: 700;
    color: white;
    font-size: 18px;
    background-color: #0073b6;
    border: none;
}
.container-notas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.card-notas{
    margin: 40px 60px;
    min-width: 200px;
    background-color: #4EA2BF;
    border-radius: 10px;
    border: 6px solid #047CA5;
}
.card-titulo{
    min-height: 60px;
    min-width: none;
    text-align: center;
    color: rgb(255, 255, 255); 
    text-shadow:
    -2px -2px 0 #0073b6, 2px -2px 0 #047CA5, -2px 2px 0 #047CA5, 2px 2px 0 #047CA5;;
}

.notas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    padding-left: 20px;
    width: 100%; 
}

.fas{
    margin: 20px;
    list-style: none;
}

.fas span{
    background-color: white;
    padding: 0px 15px;
    border-radius: 10px;
    color: black;
}

#totalMateria{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.totalMateria{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 40px;
    border: #0073b6 solid 3px;
    border-radius: 40px;
    background-color: white;
}

#apagar-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.btn-apagar{
    background-color: rgb(247, 99, 99);
    width: 100px;
    height: 40px;
    border-radius: 40px;
}

.btn-apagar:hover{
    background-color: rgb(255, 0, 0);
    color: white;
}

#mediaContainer{
    display: flex;
    justify-content: center;
}

#mediaGeral{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    height: 60px;
    background-color: white;
    width: 200px;
    border: #0073b6 solid 3px;
    border-radius: 40px;
}

footer{
    margin-top: 100px;
    text-align: center;
    color: gray;
}

/* Media Queries */


@media (max-width: 1024px) {
    .container-notas{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }
    .card-notas{
        width: 400px;
    }
}
  
@media (max-width: 768px) {
    body{
        width: 100%;
    }
    .container-form{
        width: 350px;
    }
    #nota-box{
        width: 100%;
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
    }
    .campNota, #materia{
        width: 70%;
        height: 30px;
        border-radius: 30px;
        border: rgb(209, 227, 243) solid 2px;
    }
    .campNota::placeholder, #materia::placeholder{
        color: #4ea3bfc5;
    }
    #materia{
        width: 90%;
    }
    .container-notas{
        width: 40%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
    .btn{
        margin-top: 20px;
        height: 40px;
        font-weight: 700;
        color: white;
        font-size: 18px;
        background-color: #0073b6;
        border: none;
    }
    .card-notas{
        width: 90%;
    }
}  

@media (max-width: 480px) {
    body{
        width: 100%;
    }
    .container-form{
        width: 350px;
    }
    #nota-box{
        width: 100%;
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
    }
    .campNota, #materia{
        width: 70%;
        height: 30px;
        border-radius: 30px;
        border: rgb(209, 227, 243) solid 2px;
    }
    .campNota::placeholder, #materia::placeholder{
        color: #4ea3bfc5;
    }
    #materia{
        width: 90%;
    }
    .container-notas{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }
    .btn{
        margin-top: 20px;
        height: 40px;
        font-weight: 700;
        color: white;
        font-size: 18px;
        background-color: #0073b6;
        border: none;
    }
    .card-notas{
        width: 90%;
    }
}